<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="row">
    <div class="card col-md-4">
    <h5 class="card-header">WebGuru: Registration</h5>
    <div class="card-body">
            
        <div class="text-center">
                        <button class="btn btn-primary mb-2" name = "Register" (click)="mentornav()" >Mentor Register</button>
                    </div>
            <div class="text-center">
                        <button class="btn btn-secondary " name="Cancel" (click)="usernav()" >UserRegister</button>
                    </div>
                </div>
        </div>
        </div>
        </div>
<app-footer></app-footer>
