<header id="header">
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
        <div class="container">
        <a class="navbar-brand" [routerLink]="['/index']" ><span>WebGuru</span></a>
        <button class="navbar-toggle navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon icon-bar"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="nav navbar-nav nav-tabs nav-justified ml-auto" id="myTab" role="tablist">
            <li class="nav-item" [routerLinkActive]="['active']">
              <a class="nav-link " [routerLink]="['/index']" >Home</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active']">
              <a class="nav-link" [routerLink]="['/login']">Login</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active']">
              <a class="nav-link " [routerLink]="['/registration']" >Register</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active']">
                <a class="nav-link " [routerLink]="['/search-nolog']" >Search</a>
              </li>
          </ul>
        </div>
      </div>
      </nav>
</header>
<router-outlet></router-outlet>

