<app-navbar></app-navbar>
<div class="slider">
	<div id="about-slider">
		<div id="carousel-slider" class="carousel slide" data-ride="carousel">
			<!-- Indicators -->
			<ol class="carousel-indicators visible-xs">
				<li data-target="#carousel-slider" data-slide-to="0" class="active"></li>
				<li data-target="#carousel-slider" data-slide-to="1"></li>
				<li data-target="#carousel-slider" data-slide-to="2"></li>
				<li data-target="#carousel-slider" data-slide-to="3"></li>
			</ol>

			<div class="carousel-inner">
				<div class="carousel-item active ">
					<img src="../../../assets/images/carousel1.jpg" class="img-responsive" height="0%" alt="">
					<div class="carousel-caption text-center">
						<div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.3s">
							<h2><span>A place For Easy Learning</span></h2>
						</div>
						<div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.6s">
							<p>You Learn A Lot Every Day</p>
						</div>
						<div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.9s">
							<div class="text-center">
								<button type="Login" name="Login" class="btn btn-primary btn-lg" (click)="rlog()">Login</button>
								<button type="SignUp" name="SignUp" class="btn btn-primary btn-lg" (click)="slog()">SignUp</button>
							</div>
						</div>
					</div>
				</div>

				<div class="carousel-item ">
					<img src="../../../assets/images/carousel2.jpg" class="img-responsive" alt="">
					<div class="carousel-caption text-center">
						<div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="1.0s">
							<h2>A place For Easy Learning</h2>
						</div>
						<div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="1.3s">
							<p>You Learn A Lot Every Day</p>
						</div>
						<div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="1.6s">

							<div class="text-center">
								<button type="Login" name="Login" class="btn btn-primary btn-lg"(click)="rlog()">Login</button>
								<button type="SignUp" name="SignUp" class="btn btn-primary btn-lg"(click)="slog()">SignUp</button>
							</div>

						</div>
					</div>
				</div>
				<div class="carousel-item ">
					<img src="../../../assets/images/carousel3.jpg" class="img-responsive" alt="">
					<div class="carousel-caption text-center">
						<div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="1.0s">
							<h2>A place For Easy Learning</h2>
						</div>
						<div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="1.3s">
							<p>You Learn A Lot Every Day</p>
						</div>
						<div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="1.6s">
							<div class="text-center">
								<button type="Login" name="Login" class="btn btn-primary btn-lg" (click)="rlog()">Login</button>
								<button type="SignUp" name="SignUp" class="btn btn-primary btn-lg" (click)="slog()">SignUp</button>
							</div>

						</div>
					</div>
				</div>
				<div class="carousel-item ">
					<img src="../../../assets/images/carousel4.jpg" class="img-responsive" alt="">
					<div class="carousel-caption text-center">
						<div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.3s">
							<h2>A place For Easy Learning</h2>
						</div>
						<div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.6s">
							<p>You Learn A Lot Every Day</p>
						</div>
						<div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.9s">
							<div class="text-center">
								<button type="Login" name="Login" class="btn btn-primary btn-lg"
									(click)="rlog()">Login</button>
								<button type="SignUp" name="SignUp" class="btn btn-primary btn-lg"
									(click)="slog()">SignUp</button>
							</div>
						</div>
					</div>
				</div>
			</div>

			<a class="left carousel-control hidden-xs" href="#carousel-slider" data-slide="prev">
				<i class="fa fa-angle-left"></i>
			</a>

			<a class=" right carousel-control hidden-xs" href="#carousel-slider" data-slide="next">
				<i class="fa fa-angle-right"></i>
			</a>
		</div>
		<!--/#carousel-slider-->
	</div>
	<!--/#about-slider-->
</div>
<!--/#slider-->



<!-- Indicators -->
<section class="about" id="about">
	<div class="container text-center">
		<h2>
			About Web Guru
		</h2>

		<p>
			Online learning is a challenging but extremely rewarding way to achieve an array of qualifications - there
			are online options for everything from certificates to PhDs. Once surrounded by stigma, online education is
			now a respected way to achieve a recognized qualification.
		</p>

		<div class="row stats-row">
			<div class="stats-col text-center col-md-3 col-sm-6">
				<div class="circle">
					<span class="stats-no" data-toggle="counter-up"></span> Satisfied Customers
				</div>
			</div>

			<div class="stats-col text-center col-md-3 col-sm-6">
				<div class="circle">
					<span class="stats-no" data-toggle="counter-up"></span> Released Projects
				</div>
			</div>

			<div class="stats-col text-center col-md-3 col-sm-6">
				<div class="circle">
					<span class="stats-no" data-toggle="counter-up"></span> Hours Of Support
				</div>
			</div>

			<div class="stats-col text-center col-md-3 col-sm-6">
				<div class="circle">
					<span class="stats-no" data-toggle="counter-up"></span> Hard Workers
				</div>
			</div>
		</div>
	</div>



	<div class="container">
		<div class="row about-container">

			<div class="col-lg-6 content order-lg-1 order-2">
				<p>
					These written materials are essential resources on almost every course, online or not. Using your
					module reading list, or guided by your tutor, a student needs to dedicate the appropriate time to
					reading and understanding the topics.
				</p>

				<div class="icon-box wow fadeInUp">
					<div class="icon"><i class="fa fa-shopping-bag"></i></div>
					<h4 class="title"><a href="">On The GO</a></h4>
					<p class="description">Available in Mobile, Desktops ANyWhere You Go</p>
				</div>

				<div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
					<div class="icon"><i class="fa fa-photo"></i></div>
					<h4 class="title"><a href="">Video Learning</a></h4>
					<p class="description">Provide You a face to face Working Environment </p>
				</div>

				<div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
					<div class="icon"><i class="fa fa-bar-chart"></i></div>
					<h4 class="title"><a href="">Excellent Reviews</a></h4>
					<p class="description">The Greatest Mentors From AltroughOut The World Available to You</p>
				</div>

			</div>

			<div class="col-lg-6 background order-lg-2 order-1 wow fadeInUp">
				<img src="../../../assets/images/about1.png" class="img-fluid" alt="">
			</div>
		</div>

		<div class="row about-extra">
			<div class="col-lg-6 wow fadeInUp">
				<img src="../../../assets/images/about2.jpg" class="img-fluid" alt="">
			</div>
			<div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0">
				<h4>The format and delivery of resources varies greatly between different online institutions. </h4>
				<p>
					Many institutions currently utilize a combination of paper textbooks and physical resources;
					however, these are generally being phased out in favor of eBooks and online methods of delivery.


				</p>
				<p>
					For those institutions that have made the transition to using 100% online resources, students can
					expect to study using a combination of cutting-edge resources with no need to travel to attend
					lectures, exams or in-person discussion sessions.
				</p>
			</div>
		</div>

		<div class="row about-extra">
			<div class="col-lg-6 wow fadeInUp order-1 order-lg-2">
				<img src="../../../assets/images/about3.jpg" class="img-fluid" alt="">
			</div>

			<div class="col-lg-6 wow fadeInUp pt-4 pt-lg-0 order-2 order-lg-1">
				<h4>The BestPlace To Acuire Knowledge On the Go.</h4>
				<p>
					With courses available in almost every subject, and flexible timetables to suit almost every
					schedule, students are increasingly turning to online learning as a viable alternative to campus
					study. It could allow you to study abroad remotely, at a university not in your home country.


				</p>
				<p>
					While some consider online learning to require a greater degree of self-motivation, institutions
					nowadays recognize that pastoral support is just as important as tutor feedback, and take great care
					to ensure that their students receive the same levels of support that they would receive on campus.
				</p>
				<p>
					Advances in technology now allow students to study entirely online while still socializing with
					classmates, watching lectures and participating in subject-specific discussions.
				</p>
			</div>

		</div>

	</div>

</section>

<!-- /About -->




<!-- Footer -->

<footer>
	<div id="contact">
		<div class="container">
			<div class="text-center">
				<h3>Contact Us</h3>
				<p>Always in your Service </p>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-4 wow fadeInUp" data-wow-offset="0" data-wow-delay="0.2s">
					<h2>Contact us any time</h2>
					<p>Just send us your questions or concerns by starting a new case and we will give you the help you
						need.</p>
				</div>

				<div class="col-md-4 wow fadeInUp" data-wow-offset="0" data-wow-delay="0.4s">
					<h2>Contact Info</h2>
					<ul>
						<li><i class="fa fa-home fa-2x"></i>62/B/P,J.N.Mukherjee Road Ghusuri Howrah-711107</li>
						<hr>
						<li><i class="fa fa-phone fa-2x"></i> +91 988378945</li>
						<hr>
						<li><i class="fa fa-envelope fa-2x"></i> info@domain.net</li>
					</ul>
				</div>

				<div class="col-md-4 wow fadeInUp" data-wow-offset="0" data-wow-delay="0.6s">
					<h2>Courses</h2>
					<ul>
						<li>Java</li>
						<hr>
						<li>Dotnet</li>
						<hr>
						<li>C++</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!--/#contact-->

	<!-- /Footer -->
	<app-footer></app-footer>