<div id="block-mentor" >
    <div>
        <div class="container p-2">

            <div class="py-4 text-center top">
                <h2 style="color: black;">Admin Mentor Block</h2>
            </div>

        </div>
        
        <div *ngIf="showub">
        <button name="Block" class="btn btn-danger btn-lg" (click)="Toggle()">See Blocked Mentors</button>
        <div class="container p-3">
            <div class="modal-body table-responsive">
                <table class="table table-striped table-bordered" style="color:black;">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Experience</th>
                            <th>Contact Number</th>
                            <th>Technology</th>
                            <th>Action</th>
                        </tr>
                        <tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let items of MentorDataBlock">
                            <td>{{items.id}}</td>
                            <td>{{items.firstName}} {{items.lastName}}</td>
                            <td>{{items.yearOfExperience}}</td>
                            <td>{{items.contactNumber}}</td>
                            <td>{{items.training}}</td>
                            <td>
                                    <button class=" btn  btn-block btn-primary" (click)="block(items.id)">block</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
        <div *ngIf="!showub">
            <button name="Block" class="btn btn-lg btn-primary" (click)="Toggle()">See Unblocked Mentors</button>
            <div class="container p-3">
                <div class="modal-body table-responsive">
                    <table class="table table-striped table-bordered" style="color:black;">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Experience</th>
                                <th>Contact Number</th>
                                <th>Technology</th>
                                <th>Action</th>
                            </tr>
                            <tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let items of MentorDataUnblock">
                                <td>{{items.id}}</td>
                                <td>{{items.firstName}} {{items.lastName}}</td>
                                <td>{{items.yearOfExperience}}</td>
                                <td>{{items.contactNumber}}</td>
                                <td>{{items.training}}</td>
                                <td>
                                        <button class=" btn  btn-block btn-primary" (click)="unblock(items.id)">Unblock</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>